<div class="banner">
    <div class="banner-wrapper">
        <div class="header">
            <div class="brand">
                <img src="./assets/images/banner/lucid.svg" alt="" srcset="">
                <div class="menu-button" (click)="isOpen=!isOpen">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>

            <div class="header-menus" [ngClass]="{'hideMenu': !isOpen}">
                <ul>
                    <li class="active">Home</li>
                    <li>Features</li>
                    <li>About</li>
                    <li>Testimonials</li>
                    <li>Pricing</li>
                    <li>Contact</li>
                </ul>
            </div>
        </div>
        <div class="home-container">
            <div class="content">
                <div class="box-content">
                    <div class="heading-1">
                        introducing lucid theme
                    </div>
                    <div class="heading-2">
                        Carefully crafted and beautiful landing page.

                    </div>
                    <div class="heading-3">
                        introducing lucid theme
                        Carefully crafted and beautiful landing page.
                        Etiam ullamcorper et turpis eget hendrerit. Praesent varius risus mi, at elementum magna
                        ultricies
                        accumsan. Cras venenatis lacus sed dolor placerat tempus. Morbi blandit at neque ut imperdiet.
                    </div>
                </div>
                <div class="button-group">
                    <button class="custom-button btn-blue space">
                        download now
                    </button>

                    <button class="custom-button btn-grey">
                        View Features
                    </button>
                </div>
            </div>
            <div class="image">
                <img src="./assets/images/banner/devices-kopia.png" alt="" srcset="">
            </div>
        </div>
    </div>
</div>