@import "../../app.component.scss";
.icon-card {
  width: 229px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-right: 72px;
  flex-wrap: wrap;
  @include xs {
    width: 100%;
    margin-right: 0;
    flex-direction: column;
    padding: 20px 0;
  }
  @include sm {
    width: 100%;
    margin-right: 0;
    flex-direction: column;
    padding: 20px 0;
  }
  @include md {
    width: 100%;
    margin-right: 0;
    flex-direction: column;
    padding: 20px 0;
  }

  .round-image {
    width: 88px;
    height: 88px;
    border: solid 1px #e0e0e0;
    background-color: #ffffff;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 35px;
  }
  .text-container {
    font-family: SourceSansPro;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: normal;
    text-align: center;
    color: #999999;
    h4 {
      font-size: 24px;
      line-height: 0.83;
      color: #1a1a1a;
      padding: 0;
      margin: 0 0 20px 0;
    }
    p {
      line-height: 1.44;
      padding: 0;
      margin: 0;
    }
  }
}
